@import "../../variable";
@import "../../mixin";

.header_main_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: $default_color__logo;
  fill: $default_color__logo;
  stroke: $default_color__logo;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include mobile {
  .header_main_wrapper {
    .search {
      display: none;
    }
  }
}

@include tablet {
  .header_main_wrapper {
    .search {
      display: none;
    }
  }
}

@include desktop {
}
