.summary_wrapper {
  .coin_name_wrapper {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .price_rate_wrapper {
    display: flex;
    align-items: center;
    .price {
      font-size: 1.75rem;
      font-weight: 650;
      padding-right: 0.5rem;
    }
  }

  .plus {
    color: red;
  }

  .minus {
    color: blue;
  }
}
