@import "../../../variable";
@import "../../../mixin";

.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #f2edd7;
  color: #755139;
  input {
    flex: auto;
    font-size: 0.8rem;
    outline: none;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
  }
  .ic_search {
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #755139;
  }
}

@include mobile {
}

@include tablet {
}

@include laptop {
}

@include desktop {
}

@include tv {
}
