@import "../../../variable";

.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
  border: 1px solid;
  border-radius: 0.5rem;
  input {
    outline: none;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
  }
  .ic_search {
    border: none;
    background-color: transparent;
  }
}
