@import "../../variable";
@import "../../mixin";

.wallet_chart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#wallet_container {
  display: grid;
  grid-template-columns: 28% auto;
  grid-gap: 1rem;

  @media (max-width: 1060px) {
    & {
      display: block;
    }

    & .wallet_chart_container {
      display: flex;
      justify-content: center;
      margin: 2rem;
      min-width: 800px;
    }

    & #wallet_description {
      min-width: 800px;
    }
  }
}

// 차트 오른쪽 녀석
#wallet_description {

  box-shadow: 4px 4px 12px 2px #aaa;

  margin: 2rem;
  margin-top: unset;

  // 차트 오른쪽 녀석 제대로 찍은 거
  & > div {
    border: none;
    display: grid;
    height: 100%;
    grid-template-rows: 3rem auto;
  }

  // #유저이름#님의 지갑 + 코인 정보
  & > div > div {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }

  // #유저이름#님의 지갑
  & > div > div:first-child {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  // 지갑이 텅 비었음
  & #wallet_no_data {
    display: flex;
    width: 100%;
    height: 100%;

    & #wallet_no_data_text {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // 잔액
  & span {
    font-size: 1.5rem;
  }

  // 코인 정보
  & > div > div:last-child {
    padding-bottom: unset;
  }

  // 코인 정보 제대로 찍은 놈
  // 차후 side effect 방지용 2중 선택(OR Operator)
  & > div > div:last-child,
  & div#wallet_description_body {

    & > div {
      padding: 1rem;
    }

    & #wallet_total_value {
      display: flex;
      padding: 1rem;
      border: 1px solid;
      animation: 2s linear 0s infinite alternate kf_wallet_total_value;

      @keyframes kf_wallet_total_value {
        from {
          border-color: #ddd;
          box-shadow: 2px 2px 6px 1px #ccc;
        }

        to {
          border-color: #aaa;
          box-shadow: 4px 4px 8px 1px #bbb;
        }
      }

      & #wallet_total_value_title {
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      & .spacer {
        flex-grow: 1;
      }

      & #wallet_total_value_display {
        font-size: 1.25rem;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    & #wallet_coins_wrapper {

      margin-top: 2rem;
      border-top: 2px solid #ddd;

      & .wallet_coins_container {
        display: grid;
        grid-template-columns: 20% 18% 10% 18% 18% auto;
        padding: 0.5rem;
        box-shadow: 0px 0px 1px 0px #aaa;

        & > div {
          padding: 0.25rem;
        }

        & .wallet_example {
          font-weight: bold;
          font-size: 1.2rem;
          justify-content: center;
          padding-bottom: .5rem;
        }

        & .wallet_coin__title {
          display: flex;
          justify-content: center;
          font-size: 1.2rem;

          &.wallet_example {
            padding-left: unset;
          }

          &:not(.wallet_example) {
          }
        }

        & .wallet_coin__price {
          display: flex;
          justify-content: center;
          padding-left: 0.75rem;
          padding-right: 0.75rem;

          & > .wallet_coin__price__have {

          }

          & > .spacer {
            flex-grow: 1;
          }

          & > .wallet_coin__price__unit {

          }
        }

        & .wallet_coin__stock {
          display: flex;
          justify-content: center;

          &:not(.wallet_example) {
            font-style: italic;
          }
        }

        & .wallet_coin__total {
          display: flex;
          justify-content: center;
          padding-left: 0.75rem;
          padding-right: 0.75rem;

          & > .spacer {
            flex-grow: 1;
          }

          &.wallet_example {
          }
        }

        & .wallet_coin__average_price {
          display: flex;
          justify-content: center;
          padding-left: 0.75rem;
          padding-right: 0.75rem;

          & > .spacer {
            flex-grow: 1;
          }

          &.wallet_example {
          }
        }

        & .wallet_coin__profit_ratio {
          display: flex;
          justify-content: center;

          &.wallet_example {
            padding-right: 1rem;
          }
        }
      }
    }
  }

}

@include mobile {
}

@include tablet {
}

@include desktop {
}
