.news_item_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid black;

  .news_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
