@import "./variable";
@import "./mixin";

.footer {
  font-size: 12px;
  border: 1px solid $default_color__footer_border;
  z-index: 3;

  .footer_wrapper {
    .contact_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact {
        display: flex;
        & > div {
          &:first-child {
            margin-right: 2.5rem;
          }
        }
      }
      .sns_wrapper {
        display: flex;
        svg {
          margin-left: 0.75rem;
          fill: $default_color__footer_bg;
        }
      }
    }

    hr {
      background-color: white;
      border: 0;
      height: 1px;
    }

    .copyright {
      display: flex;
    }
  }
}

@include mobile {
  .footer {
    .footer_wrapper {
      .contact_wrapper {
        .contact {
        }
        .sns_wrapper {
          svg {
            margin-left: 0.75rem;
            fill: $default_color__footer_bg;
          }
        }
      }
      .copyright {
      }
    }
  }
}

@include tablet {
  .footer {
    .footer_wrapper {
      .contact_wrapper {
        display: flex;
        flex-direction: column;
        .contact {
        }
        .sns_wrapper {
        }
      }
      .copyright {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@include desktop {
  .footer {
    padding: 1em $gutter;
    .footer_wrapper {
      .contact_wrapper {
        .contact {
        }
        .sns_wrapper {
        }
      }
      .copyright {
      }
    }
  }
}
