@import "./variable";

.footer {
  font-size: 12px;
  padding: 1em $gutter;
  border: 1px solid $default_color__footer_border;
  background-color: $default_color__footer_bg;
  z-index: 3;

  .footer_wrapper {
    .contact_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contact {
        display: flex;
        & > div {
          &:first-child {
            margin-right: 2.5rem;
          }
        }
      }
      .sns_wrapper {
        display: flex;
        svg {
          margin-left: 0.75rem;
          fill: $default_color__footer_bg;
        }
      }
    }

    hr {
      background-color: white;
      border: 0;
      height: 1px;
    }

    .copyright {
      display: flex;
    }
  }
}
