// mediaquery
$breakpoint_mobile_min: 320px;
$breakpoint_mobile_max: 480px;
$breakpoint_tablet_min: 481px;
$breakpoint_tablet_max: 768px;
$breakpoint_laptop_min: 769px;
$breakpoint_laptop_max: 1024px;
$breakpoint_desktop_min: 1025px;
$breakpoint_desktop_max: 1200px;
$breakpoint_tv_min: 1201px;

// color
$blue: hsl(240, 100%, 50%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$default_sns: hsl(2, 26%, 39%);
$default_bg: hsl(20, 30%, 92%);
$default_input: hsla(20, 30%, 98%, 40%);
$default_color__gnb: hsl(39, 30%, 59%);
$default_color__logo: hsl(9, 20%, 50%);
$default_color__footer_border: hsl(10, 55%, 36%);
$default_color__footer_bg: hsl(21, 26%, 76%);

// gutter
$gutter: 3.25rem;
