// mediaquery
$breakpoint_mobile_min: 320px;
$breakpoint_mobile_max: 480px;
$breakpoint_tablet_min: 481px;
$breakpoint_tablet_max: 1024px;
// $breakpoint_laptop_min: 769px;
// $breakpoint_laptop_max: 1024px;
$breakpoint_desktop_min: 1025px;
// $breakpoint_desktop_max: 1200px;
// $breakpoint_tv_min: 1201px;

// color
$separation_color: hsl(231, 9%, 85%);
$focus_color: hsl(216, 94%, 53%);
$blue: hsl(240, 100%, 50%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$default_sns: hsl(2, 26%, 39%);
$default_bg: hsl(20, 30%, 92%);
$default_input: hsla(20, 30%, 98%, 40%);
$default_color__gnb: hsl(39, 30%, 59%);
$default_color__logo: hsl(9, 14%, 39%);
$default_color__footer_border: hsl(10, 55%, 36%);
$default_color__footer_bg: hsl(21, 26%, 76%);
$hover_b_color__lang: hsl(9, 30%, 50%);
$hover_bg_color__arrow: hsla(9, 20%, 50%, 0.2);

$default_color__login_input_border: hsla(9, 30%, 50%, 40%);
$default_color__login_input_bg: hsla(20, 30%, 90%, 60%);
$click_color__login_submit_border: hsla(9, 30%, 50%, 70%);

// rgb(229 222 218 / 40%)

// gutter
$gutter: 16rem;
