@font-face {
  font-family: "InkLipquid";
  font-weight: 400;
  src: url("/fonts/InkLipquidFonts.ttf") format("truetype")
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, InkLipquid, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;

  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  cursor: pointer;
}

*:not(blockquote) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}

i {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
