.ranking_items {
  .ranking_item_container {
    display: grid;
    overflow-y: scroll;
    height: 420px;
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 6px;

      /* Handle on hover */
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
