.ranking_item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 2.5rem;

  .item_name {
    flex: 2;
    white-space: nowrap;
  }
  .item_price {
    flex: 2;
    font-weight: 700;
  }
  .item_rate {
    flex: 1;
    font-weight: 700;
  }
  .item_volume {
    flex: 2;
    white-space: nowrap;
  }

  & > div {
    margin: 0.25rem 0.5rem;
  }

  .plus {
    color: red;
  }

  .minus {
    color: blue;
  }
}
